html
	form(align="center" method="POST")
		label Username:
		br
		input(type="text" name="username" value=user)
		br
		label Password:
		br
		input(type="password" name="password")
		br
		br
		input(type="submit" value="Login")